.mainSection {
  font-family: "Josefin Sans", sans-serif;
  color: #d8dbe2;
}

.container {
  text-align: center;
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container span {
  color: #00adb5;
}

.container h1,
.container h2 {
  margin: 0;
  padding: 1rem;
}

.container h2 {
  font-weight: 400;
}

.content {
  height: auto;
  width: auto;
  border: 2px solid #00adb5;
  border-radius: 10px;
}
